[class *="bg-primary"] {
    background-color: #001999;
}

[class *="border-primary"] {
    border: 5px solid #0029ff;
}

[class *="border-secondary"] {
    border: 5px solid #FCDD7C;
}

[class *="border-black"] {
    border: 5px solid #000000;
}

[class *="rounded"] {
    border-radius: 100%;
}

[class *="+90"] {
    transform: rotate(90deg);
}

[class *="-90"] {
    transform: rotate(-90deg);
}

[class *="affiche"] {
    width: 250px;
}

[class *="icone"] {
    width:30px;
}